"""Generate the native apps' v2 API layer (models + endpoint functions) from the v2 OpenAPI contract.

    python3 scripts/gen_native_api.py            # writes android-app/ and ios-app/ generated sources
    python3 scripts/gen_native_api.py --check    # exit 3 if a generated file on disk is stale

Input is the same contract the web client generates from (ADR-0010 §4):
``mobile-app/src/api/generated/openapi-v2.json`` (refresh it with ``scripts/export_openapi.py``).

Why a dedicated generator instead of openapi-generator / swift-openapi-generator: the v2 schema uses a small,
regular subset of OpenAPI 3.1 (objects, ``X | null``, enums, consts, two discriminated unions), and one script
gives Kotlin and Swift the *same* reading of it. Rules both outputs follow:

- Only endpoints a client or driver can call are emitted (``/admin/*`` is staff-only), and only the models they reach.
- ``Envelope_*`` wrappers are not models: the runtime owns one generic envelope and endpoints return ``data``.
- Every enum has an ``unknown`` case: an app version lives on phones for months, a new server value must not crash it.
- Timestamps stay ISO strings (the UI formats them in ``Asia/Tashkent``); money stays integer ``*_minor``.
- A field outside ``required`` or nullable is optional with a ``null`` default.
- Unions without a discriminator (a handful, mostly legacy) are raw JSON, and the doc comment says what they can be.
"""

from __future__ import annotations

import argparse
import json
import re
import sys
from pathlib import Path

ROOT = Path(__file__).resolve().parent.parent
SPEC = ROOT / "mobile-app" / "src" / "api" / "generated" / "openapi-v2.json"
KOTLIN_OUT = ROOT / "android-app" / "app" / "src" / "main" / "kotlin" / "uz" / "elchi" / "app" / "api" / "generated"
SWIFT_OUT = ROOT / "ios-app" / "Elchi" / "API" / "Generated"
KOTLIN_PACKAGE = "uz.elchi.app.api.generated"
PREFIX = "/api/v2"
EXCLUDED_PREFIXES = ("/api/v2/admin",)
HEADER = "Generated by scripts/gen_native_api.py from mobile-app/src/api/generated/openapi-v2.json. Do not edit."

KOTLIN_KEYWORDS = {
    "as", "break", "class", "continue", "do", "else", "false", "for", "fun", "if", "in", "interface", "is", "null",
    "object", "package", "return", "super", "this", "throw", "true", "try", "typealias", "typeof", "val", "var",
    "when", "while", "data", "value",
}
SWIFT_KEYWORDS = {
    "associatedtype", "class", "deinit", "enum", "extension", "fileprivate", "func", "import", "init", "inout",
    "internal", "let", "open", "operator", "private", "protocol", "public", "rethrows", "static", "struct",
    "subscript", "typealias", "var", "break", "case", "continue", "default", "defer", "do", "else", "fallthrough",
    "for", "guard", "if", "in", "repeat", "return", "switch", "where", "while", "as", "catch", "false", "is", "nil",
    "super", "self", "Self", "throw", "throws", "true", "try", "Type", "Protocol",
}

# ----------------------------------------------------------------------------------------------------------------
# Neutral type model: both emitters render these.


class T:
    """A resolved type: kind in {str,int,num,bool,list,map,json,ref,enum,union}; `optional` is nullability."""

    def __init__(self, kind: str, *, of: "T | None" = None, name: str | None = None, optional: bool = False,
                 note: str | None = None):
        self.kind, self.of, self.name, self.optional, self.note = kind, of, name, optional, note

    def opt(self) -> "T":
        return T(self.kind, of=self.of, name=self.name, optional=True, note=self.note)


def ref_name(ref: str) -> str:
    return ref.rsplit("/", 1)[-1]


class Spec:
    def __init__(self, raw: dict):
        self.schemas: dict[str, dict] = raw["components"]["schemas"]
        self.paths: dict[str, dict] = raw["paths"]
        self.used: set[str] = set()
        # discriminated unions: name -> (property, {value: schema name})
        self.unions: dict[str, tuple[str, dict[str, str]]] = {}
        self.union_of: dict[str, set[str]] = {}

    # -- types --------------------------------------------------------------------------------------------------
    def resolve(self, node: dict) -> T:
        if "$ref" in node:
            name = ref_name(node["$ref"])
            self.mark(name)
            target = self.schemas[name]
            return T("enum" if "enum" in target else "ref", name=name)
        if "anyOf" in node:
            options = node["anyOf"]
            non_null = [o for o in options if o.get("type") != "null"]
            nullable = len(non_null) != len(options)
            if len(non_null) == 1:
                t = self.resolve(non_null[0])
                return t.opt() if nullable else t
            t = T("json", note=" | ".join(self.describe(o) for o in non_null))
            return t.opt() if nullable else t
        if "oneOf" in node:
            disc = node.get("discriminator")
            if disc and disc.get("mapping"):
                mapping = {k: ref_name(v) for k, v in disc["mapping"].items()}
                for member in mapping.values():
                    self.mark(member)
                name = self.union_name(list(mapping.values()))
                self.unions[name] = (disc["propertyName"], mapping)
                for member in mapping.values():
                    self.union_of.setdefault(member, set()).add(name)
                return T("union", name=name)
            return T("json", note=" | ".join(self.describe(o) for o in node["oneOf"]))
        kind = node.get("type")
        if "const" in node or "enum" in node:
            return T("str") if kind in (None, "string") else self.resolve({"type": kind})
        if kind == "string":
            return T("str")
        if kind == "integer":
            return T("int")
        if kind == "number":
            return T("num")
        if kind == "boolean":
            return T("bool")
        if kind == "array":
            return T("list", of=self.resolve(node.get("items", {})))
        if kind == "object":
            addl = node.get("additionalProperties")
            if isinstance(addl, dict) and addl and ("type" in addl or "$ref" in addl):
                return T("map", of=self.resolve(addl))
            return T("json", note="object")
        return T("json")

    def describe(self, node: dict) -> str:
        if "$ref" in node:
            return ref_name(node["$ref"])
        return node.get("type", "any")

    def union_name(self, members: list[str]) -> str:
        prefix = members[0]
        for m in members[1:]:
            while not m.startswith(prefix):
                prefix = prefix[:-1]
        name = prefix.rstrip("_") or "Union"
        return name if name not in self.schemas else name + "Union"

    def mark(self, name: str) -> None:
        if name in self.used:
            return
        self.used.add(name)
        schema = self.schemas[name]
        for prop in schema.get("properties", {}).values():
            self.resolve(prop)

    # -- operations ---------------------------------------------------------------------------------------------
    def operations(self) -> list[dict]:
        ops = []
        for path, item in self.paths.items():
            if not path.startswith(PREFIX) or path.startswith(EXCLUDED_PREFIXES):
                continue
            for method, op in item.items():
                if method not in ("get", "post", "put", "patch", "delete"):
                    continue
                name = re.sub(r"_api_v2_.*$", "", op["operationId"])
                params = [p for p in op.get("parameters", []) if p["in"] in ("path", "query")]
                idem = any(p["in"] == "header" and p["name"] == "Idempotency-Key" for p in op.get("parameters", []))
                body = None
                content = op.get("requestBody", {}).get("content", {})
                if "application/json" in content:
                    body = self.resolve(content["application/json"]["schema"])
                    if not op["requestBody"].get("required", False):
                        body = body.opt()
                ops.append({
                    "name": camel(name),
                    "method": method.upper(),
                    "path": path[len(PREFIX):],
                    "summary": op.get("summary", ""),
                    "description": (op.get("description") or "").strip(),
                    "path_params": [(p["name"], self.resolve(p["schema"])) for p in params if p["in"] == "path"],
                    "query_params": [
                        (p["name"], self.resolve(p["schema"]) if p.get("required") else self.resolve(p["schema"]).opt())
                        for p in params if p["in"] == "query"
                    ],
                    "idempotent": idem,
                    "body": body,
                    "result": self.result_type(op),
                })
        return sorted(ops, key=lambda o: (o["path"], o["method"]))

    def result_type(self, op: dict) -> T:
        for code in sorted(op["responses"]):
            if not code.startswith("2"):
                continue
            content = op["responses"][code].get("content", {}).get("application/json")
            if not content:
                return T("json", optional=True)
            schema = content["schema"]
            if "$ref" in schema and ref_name(schema["$ref"]).startswith("Envelope"):
                envelope = self.schemas[ref_name(schema["$ref"])]
                return self.resolve(envelope["properties"]["data"])
            if "anyOf" in schema:  # an endpoint that returns one of several envelopes
                datas = [self.schemas[ref_name(o["$ref"])]["properties"]["data"] for o in schema["anyOf"] if "$ref" in o]
                for d in datas:
                    self.resolve(d)
                return T("json", note=" | ".join(self.describe(d) for d in datas))
            return self.resolve(schema)
        return T("json", optional=True)


# ----------------------------------------------------------------------------------------------------------------
# Naming


def camel(snake: str) -> str:
    parts = re.split(r"[_\-\s.]+", snake)
    head = parts[0][:1].lower() + parts[0][1:]
    out = head + "".join(p[:1].upper() + p[1:] for p in parts[1:] if p)
    return "_" + out if out[:1].isdigit() else out


def upper_snake(value: str) -> str:
    out = re.sub(r"[^A-Za-z0-9]+", "_", value).strip("_").upper()
    return "_" + out if (not out or out[:1].isdigit()) else out


def kt_ident(name: str) -> str:
    return f"`{name}`" if name in KOTLIN_KEYWORDS else name


def sw_ident(name: str) -> str:
    return f"`{name}`" if name in SWIFT_KEYWORDS else name


def doc_lines(text: str, indent: str) -> list[str]:
    text = (text or "").strip()
    if not text:
        return []
    lines = [ln.rstrip().replace("*/", "* /") for ln in text.splitlines()]
    return [f"{indent}/**"] + [f"{indent} * {ln}".rstrip() for ln in lines] + [f"{indent} */"]


def sw_doc_lines(text: str, indent: str) -> list[str]:
    text = (text or "").strip()
    return [f"{indent}/// {ln.rstrip()}".rstrip() for ln in text.splitlines()] if text else []


# ----------------------------------------------------------------------------------------------------------------
# Kotlin


def kt_type(t: T) -> str:
    base = {
        "str": "String",
        "int": "Long",
        "num": "Double",
        "bool": "Boolean",
        "json": "JsonElement",
    }.get(t.kind)
    if base is None:
        if t.kind == "list":
            base = f"List<{kt_type(t.of)}>"
        elif t.kind == "map":
            base = f"Map<String, {kt_type(t.of)}>"
        else:
            base = t.name
    return base + ("?" if t.optional else "")


def kotlin_models(spec: Spec) -> str:
    out = [f"// {HEADER}", "@file:Suppress(\"unused\", \"SpellCheckingInspection\")", "", f"package {KOTLIN_PACKAGE}", "",
           "import kotlinx.serialization.KSerializer",
           "import kotlinx.serialization.SerialName",
           "import kotlinx.serialization.Serializable",
           "import kotlinx.serialization.json.JsonContentPolymorphicSerializer",
           "import kotlinx.serialization.json.JsonElement",
           "import kotlinx.serialization.json.jsonObject",
           "import kotlinx.serialization.json.jsonPrimitive",
           "import uz.elchi.app.api.LenientEnumSerializer",
           "import uz.elchi.app.api.WireEnum",
           ""]
    for name in sorted(spec.used):
        if name.startswith("Envelope"):
            continue
        schema = spec.schemas[name]
        if "enum" in schema:
            out += doc_lines(schema.get("description", ""), "")
            out.append(f"@Serializable(with = {name}.Serializer::class)")
            out.append(f"enum class {name}(override val value: String) : WireEnum {{")
            seen: set[str] = set()
            for v in schema["enum"]:
                case = upper_snake(str(v))
                while case in seen:
                    case += "_"
                seen.add(case)
                out.append(f"    {case}(\"{v}\"),")
            out.append("    /** A value this app version does not know yet. Never sent to the server. */")
            out.append("    UNKNOWN(\"\");")
            out.append("")
            out.append(f"    object Serializer : KSerializer<{name}> by LenientEnumSerializer(\"{name}\", entries, UNKNOWN, {{ it.value }})")
            out.append("}")
            out.append("")
            continue
        props = schema.get("properties", {})
        required = set(schema.get("required", []))
        out += doc_lines(schema.get("description", ""), "")
        supers = sorted(spec.union_of.get(name, ()))
        out.append("@Serializable")
        if not props:
            out.append(f"class {name}" + (f" : {', '.join(supers)}" if supers else ""))
            out.append("")
            continue
        out.append(f"data class {name}(")
        for prop, node in props.items():
            t = spec.resolve(node)
            if prop not in required:
                t = t.opt()
            text = node.get("description") or ""
            if t.note:
                text = (text + "\n" if text else "") + f"JSON: {t.note}"
            out += doc_lines(text, "    ")
            default = " = null" if t.optional else ""
            if "const" in node and not t.optional and t.kind == "str":
                default = f" = \"{node['const']}\""
            out.append(f"    @SerialName(\"{prop}\") val {kt_ident(camel(prop))}: {kt_type(t)}{default},")
        out.append(")" + (f" : {', '.join(supers)}" if supers else ""))
        out.append("")
    for union, (prop, mapping) in sorted(spec.unions.items()):
        out.append(f"/** One of {', '.join(sorted(set(mapping.values())))}, chosen by `{prop}`. */")
        out.append(f"@Serializable(with = {union}.Serializer::class)")
        out.append(f"sealed interface {union} {{")
        out.append(f"    object Serializer : JsonContentPolymorphicSerializer<{union}>({union}::class) {{")
        out.append("        override fun selectDeserializer(element: JsonElement) =")
        out.append(f"            when (val tag = element.jsonObject[\"{prop}\"]?.jsonPrimitive?.content) {{")
        for value, member in sorted(mapping.items()):
            out.append(f"                \"{value}\" -> {member}.serializer()")
        out.append(f"                else -> throw IllegalArgumentException(\"{union}: unknown {prop} '$tag'\")")
        out.append("            }")
        out.append("    }")
        out.append("}")
        out.append("")
    return "\n".join(out).rstrip() + "\n"


def kotlin_endpoints(ops: list[dict]) -> str:
    out = [f"// {HEADER}", "@file:Suppress(\"unused\")", "", f"package {KOTLIN_PACKAGE}", "",
           "import kotlinx.serialization.builtins.ListSerializer",
           "import kotlinx.serialization.builtins.MapSerializer",
           "import kotlinx.serialization.builtins.nullable",
           "import kotlinx.serialization.builtins.serializer",
           "import kotlinx.serialization.json.JsonElement",
           "import uz.elchi.app.api.ApiResult",
           "import uz.elchi.app.api.ApiTransport",
           "",
           "/** Every client/driver `/api/v2` endpoint. Commands take the idempotency key of the user action (ADR-0005). */",
           "class ElchiApi(private val transport: ApiTransport) {"]
    for op in ops:
        params: list[str] = []
        for name, t in op["path_params"]:
            params.append(f"{kt_ident(camel(name))}: {kt_type(t)}")
        if op["body"] is not None:
            params.append(f"body: {kt_type(op['body'])}" + (" = null" if op["body"].optional else ""))
        if op["idempotent"]:
            params.append("idempotencyKey: String")
        for name, t in op["query_params"]:
            params.append(f"{kt_ident(camel(name))}: {kt_type(t)}" + (" = null" if t.optional else ""))
        path = op["path"]
        for name, t in op["path_params"]:
            # An enum path segment must carry its wire value, not the Kotlin constant name.
            wire = ".value" if kt_type(t) not in ("String", "Int", "Long", "Boolean") else ""
            path = path.replace("{" + name + "}", "${" + camel(name) + wire + "}")
        query = ", ".join(f"\"{n}\" to {kt_ident(camel(n))}" for n, _ in op["query_params"])
        result = op["result"]
        text = op["summary"] + (("\n\n" + op["description"]) if op["description"] else "")
        if result.note:
            text += f"\n\nReturns JSON: {result.note}"
        out += doc_lines(text, "    ")
        out.append(f"    suspend fun {op['name']}({', '.join(params)}): ApiResult<{kt_type(result)}> =")
        body_arg = "null"
        if op["body"] is not None:
            present = T(op["body"].kind, of=op["body"].of, name=op["body"].name)  # encode the value, not the optional
            body_arg = f"body?.let {{ transport.encode({kt_serializer(present)}, it) }}" if op["body"].optional \
                else f"transport.encode({kt_serializer(present)}, body)"
        out.append(f"        transport.send(")
        out.append(f"            method = \"{op['method']}\",")
        out.append(f"            path = \"{path}\",")
        out.append(f"            query = listOf({query}),")
        out.append(f"            body = {body_arg},")
        out.append(f"            idempotencyKey = {'idempotencyKey' if op['idempotent'] else 'null'},")
        out.append(f"            result = {kt_serializer(result)},")
        out.append("        )")
        out.append("")
    out[-1] = "}"
    return "\n".join(out) + "\n"


def kt_serializer(t: T) -> str:
    if t.kind == "str":
        s = "String.serializer()"
    elif t.kind == "int":
        s = "Long.serializer()"
    elif t.kind == "num":
        s = "Double.serializer()"
    elif t.kind == "bool":
        s = "Boolean.serializer()"
    elif t.kind == "json":
        s = "JsonElement.serializer()"
    elif t.kind == "list":
        s = f"ListSerializer({kt_serializer(T(t.of.kind, of=t.of.of, name=t.of.name, optional=t.of.optional))})"
    elif t.kind == "map":
        s = f"MapSerializer(String.serializer(), {kt_serializer(t.of)})"
    elif t.kind == "union":
        s = f"{t.name}.Serializer"
    else:
        s = f"{t.name}.serializer()"
    return s + (".nullable" if t.optional else "")


# ----------------------------------------------------------------------------------------------------------------
# Swift


def sw_type(t: T) -> str:
    base = {"str": "String", "int": "Int", "num": "Double", "bool": "Bool", "json": "JSONValue"}.get(t.kind)
    if base is None:
        if t.kind == "list":
            base = f"[{sw_type(t.of)}]"
        elif t.kind == "map":
            base = f"[String: {sw_type(t.of)}]"
        else:
            base = t.name
    return base + ("?" if t.optional else "")


def swift_models(spec: Spec) -> str:
    out = [f"// {HEADER}", "// swiftlint:disable all", "", "import Foundation", ""]
    for name in sorted(spec.used):
        if name.startswith("Envelope"):
            continue
        schema = spec.schemas[name]
        if "enum" in schema:
            cases, seen = [], set()
            for v in schema["enum"]:
                case = camel(upper_snake(str(v)).lower())
                while case in seen:
                    case += "_"
                seen.add(case)
                cases.append((sw_ident(case), str(v)))
            out += sw_doc_lines(schema.get("description", ""), "")
            out.append(f"public enum {name}: WireEnum, CaseIterable {{")
            for case, _ in cases:
                out.append(f"    case {case}")
            out.append("    /// A value this app version does not know yet. Never sent to the server.")
            out.append("    case unknown(String)")
            out.append("")
            out.append(f"    public static var allCases: [{name}] {{ [{', '.join('.' + c for c, _ in cases)}] }}")
            out.append("")
            out.append("    public var rawValue: String {")
            out.append("        switch self {")
            for case, value in cases:
                out.append(f"        case .{case}: return \"{value}\"")
            out.append("        case .unknown(let value): return value")
            out.append("        }")
            out.append("    }")
            out.append("")
            out.append("    public init(from decoder: Decoder) throws {")
            out.append("        let value = try decoder.singleValueContainer().decode(String.self)")
            out.append("        switch value {")
            for case, value in cases:
                out.append(f"        case \"{value}\": self = .{case}")
            out.append("        default: self = .unknown(value)")
            out.append("        }")
            out.append("    }")
            out.append("")
            out.append("    public func encode(to encoder: Encoder) throws {")
            out.append("        var container = encoder.singleValueContainer()")
            out.append("        try container.encode(rawValue)")
            out.append("    }")
            out.append("}")
            out.append("")
            continue
        props = schema.get("properties", {})
        required = set(schema.get("required", []))
        out += sw_doc_lines(schema.get("description", ""), "")
        out.append(f"public struct {name}: Codable, Hashable, Sendable {{")
        fields = []
        for prop, node in props.items():
            t = spec.resolve(node)
            if prop not in required:
                t = t.opt()
            text = node.get("description") or ""
            if t.note:
                text = (text + "\n" if text else "") + f"JSON: {t.note}"
            out += sw_doc_lines(text, "    ")
            ident = sw_ident(camel(prop))
            out.append(f"    public var {ident}: {sw_type(t)}")
            fields.append((prop, ident, t, node))
        if fields:
            out.append("")
            params = []
            for prop, ident, t, node in fields:
                default = ""
                if t.optional:
                    default = " = nil"
                elif "const" in node and t.kind == "str":
                    default = f" = \"{node['const']}\""
                params.append(f"{ident}: {sw_type(t)}{default}")
            out.append(f"    public init({', '.join(params)}) {{")
            for _, ident, _, _ in fields:
                plain = ident.strip("`")
                out.append(f"        self.{plain} = {ident}")
            out.append("    }")
            out.append("")
            out.append("    enum CodingKeys: String, CodingKey {")
            for prop, ident, _, _ in fields:
                out.append(f"        case {ident} = \"{prop}\"")
            out.append("    }")
        else:
            out.append("    public init() {}")
        out.append("}")
        out.append("")
    for union, (prop, mapping) in sorted(spec.unions.items()):
        out.append(f"/// One of {', '.join(sorted(set(mapping.values())))}, chosen by `{prop}`.")
        out.append(f"public enum {union}: Codable, Hashable, Sendable {{")
        for value, member in sorted(mapping.items()):
            out.append(f"    case {sw_ident(camel(value))}({member})")
        out.append("")
        out.append("    private enum Tag: String, CodingKey { case tag = \"" + prop + "\" }")
        out.append("")
        out.append("    public init(from decoder: Decoder) throws {")
        out.append("        let tag = try decoder.container(keyedBy: Tag.self).decode(String.self, forKey: .tag)")
        out.append("        switch tag {")
        for value, member in sorted(mapping.items()):
            out.append(f"        case \"{value}\": self = .{sw_ident(camel(value))}(try {member}(from: decoder))")
        out.append(f"        default: throw DecodingError.dataCorrupted(.init(codingPath: decoder.codingPath, debugDescription: \"{union}: unknown {prop} \\(tag)\"))")
        out.append("        }")
        out.append("    }")
        out.append("")
        out.append("    public func encode(to encoder: Encoder) throws {")
        out.append("        switch self {")
        for value, _ in sorted(mapping.items()):
            out.append(f"        case .{sw_ident(camel(value))}(let value): try value.encode(to: encoder)")
        out.append("        }")
        out.append("    }")
        out.append("}")
        out.append("")
    return "\n".join(out).rstrip() + "\n"


def swift_endpoints(ops: list[dict]) -> str:
    out = [f"// {HEADER}", "// swiftlint:disable all", "", "import Foundation", "",
           "/// Every client/driver `/api/v2` endpoint. Commands take the idempotency key of the user action (ADR-0005).",
           "public struct ElchiAPI: Sendable {",
           "    let transport: APITransport",
           "",
           "    public init(transport: APITransport) {",
           "        self.transport = transport",
           "    }",
           ""]
    for op in ops:
        params: list[str] = []
        for name, t in op["path_params"]:
            params.append(f"{sw_ident(camel(name))}: {sw_type(t)}")
        if op["body"] is not None:
            params.append(f"body: {sw_type(op['body'])}" + (" = nil" if op["body"].optional else ""))
        if op["idempotent"]:
            params.append("idempotencyKey: String")
        for name, t in op["query_params"]:
            params.append(f"{sw_ident(camel(name))}: {sw_type(t)}" + (" = nil" if t.optional else ""))
        path = op["path"]
        for name, t in op["path_params"]:
            # An enum path segment must carry its wire value, not the Swift case name.
            wire = ".rawValue" if sw_type(t) not in ("String", "Int", "Int64", "Bool") else ""
            path = path.replace("{" + name + "}", "\\(" + camel(name) + wire + ")")
        query = ", ".join(f"(\"{n}\", {sw_ident(camel(n))})" for n, _ in op["query_params"])
        result = op["result"]
        text = op["summary"] + (("\n\n" + op["description"]) if op["description"] else "")
        if result.note:
            text += f"\n\nReturns JSON: {result.note}"
        out += sw_doc_lines(text, "    ")
        out.append(f"    public func {op['name']}({', '.join(params)}) async throws -> APIResult<{sw_type(result)}> {{")
        body_arg = "body" if op["body"] is not None else "Optional<JSONValue>.none"
        out.append("        try await transport.send(")
        out.append(f"            method: \"{op['method']}\",")
        out.append(f"            path: \"{path}\",")
        out.append(f"            query: [{query}],")
        out.append(f"            body: {body_arg},")
        out.append(f"            idempotencyKey: {'idempotencyKey' if op['idempotent'] else 'nil'},")
        out.append(f"            as: {sw_type(result)}.self")
        out.append("        )")
        out.append("    }")
        out.append("")
    out[-1] = "}"
    return "\n".join(out) + "\n"


# ----------------------------------------------------------------------------------------------------------------


def main(argv: list[str] | None = None) -> int:
    parser = argparse.ArgumentParser(description=__doc__.split("\n\n")[0])
    parser.add_argument("--check", action="store_true", help="exit 3 if a generated file is stale")
    args = parser.parse_args(argv)

    spec = Spec(json.loads(SPEC.read_text(encoding="utf-8")))
    for transport_type in ("ApiWarning", "PageMeta", "ErrorBody"):  # the runtime's envelope parts
        spec.mark(transport_type)
    ops = spec.operations()
    files = {
        KOTLIN_OUT / "Models.kt": kotlin_models(spec),
        KOTLIN_OUT / "ElchiApi.kt": kotlin_endpoints(ops),
        SWIFT_OUT / "Models.swift": swift_models(spec),
        SWIFT_OUT / "ElchiAPI.swift": swift_endpoints(ops),
    }
    stale = []
    for path, text in files.items():
        current = path.read_text(encoding="utf-8") if path.exists() else None
        if current == text:
            continue
        if args.check:
            stale.append(path)
        else:
            path.parent.mkdir(parents=True, exist_ok=True)
            path.write_text(text, encoding="utf-8")
    if stale:
        for path in stale:
            print(f"stale: {path.relative_to(ROOT)}", file=sys.stderr)
        return 3
    models = len([n for n in spec.used if not n.startswith("Envelope")])
    print(f"{len(ops)} endpoints, {models} models ({len(spec.unions)} discriminated unions)"
          + (" - up to date" if args.check else ""))
    return 0


if __name__ == "__main__":
    sys.exit(main())
